:root {
  --mygreen: #23c483;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}
.home-container {
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url("../assets/bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.header {
  height: 80px;
  padding: 0px 5rem 0px 5rem;
}
.header-div {
  display: flex;
  height: 100%;
  gap: 5rem;
  align-items: center;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.5); */
}
.logo {
  font-weight: 900;
  font-size: 2.3rem;
  text-transform: capitalize;
  color: var(--mygreen);
}
.menu-navbar {
  display: none;
  text-decoration: none;
  gap: 3rem;
  list-style: none;
}
.menu-navbar-active {
  display: flex;
}
.menu-navbar li a {
  text-decoration: none;
  transition: all ease-in-out 250ms;
}
.menu-navbar li a:hover {
  color: var(--mygreen);
}
.right-btn {
  margin-left: auto;
  display: flex;
  gap: 10px;
}
.right-btn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 250ms;
}
.right-btn button:hover {
  color: var(--mygreen);
}
#join-btn {
  display: block;
  padding: 1em 2em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
#join-btn:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
#join-btn:active {
  transform: translateY(-1px);
}
#profile-btn {
  display: none;
  text-decoration: none;
  padding: 1em 2em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
#profile-btn:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
#profile-btn:active {
  transform: translateY(-1px);
}
.hero-container {
  padding: 0px 5rem 0px 5rem;
  padding-top: 3rem;
}
.hero-items {
  width: 70%;
}
.hero-items h1 {
  text-transform: uppercase;
  font-size: 4.4rem;
  width: 500px;
  position: relative;
}
.hero-items h1::before {
  content: '"';
  position: absolute;
  left: -30px;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}
.hero-items h1::after {
  content: '"';
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}
.hero-items h1 span {
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}
.hero-items p {
  opacity: calc(80%);
  font-weight: 300;
}
.hero-items .line {
  margin-top: 2rem;
  height: 2px;
  width: 100%;
  background-color: white;
  opacity: calc(70%);
  display: block;
}
.second-items {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-evenly;
  align-items: center;
}
.second-items h4 {
  font-weight: 300;
  font-size: 1rem;
  opacity: calc(70%);
}
.second-items p {
  font-weight: 400;
}
.login-card {
  position: absolute;
  padding: 10px 12px 0 12px;
  width: 283px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  top: 7.5rem;
  right: 5rem;
  display: none;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
.login-card-active {
  display: flex;
}
.login-card div {
  position: relative;
}
.login-card div:first-child {
  margin-top: 2rem;
}
.login-card div input {
  border: none;
  border-bottom: solid 1.5px white;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  color: white;
}
.login-card div input:focus {
  outline: none;
  border-bottom: 1.5px solid var(--mygreen);
}
.login-card div label {
  position: absolute;
  left: 0px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: all ease-in-out 300ms;
}
.login-card div input:focus ~ label,
.login-card div input:valid ~ label {
  transform: translateY(-20%) scale(0.8);
  padding: 0 0.2em;
  color: var(--mygreen);
}
.login-card p {
  text-align: center;
  margin-top: 1rem;
  font-size: small;
  width: 160px;
  font-weight: 300;
}
.login-card p span {
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
  color: var(--mygreen);
  transition: all ease-in-out 250ms;
}
.login-card p span:hover {
  filter: brightness(5);
}
.login-card button {
  margin-top: 2rem;
  padding: 1em 2em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.login-card button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.login-card button:active {
  transform: translateY(-1px);
}
/* sign up  */
.sign-up-card {
  position: absolute;
  padding: 10px 12px 0 12px;
  width: 283px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  top: 7.5rem;
  right: 5rem;
  display: none;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
.sign-up-card-active {
  display: flex;
}
.sign-up-card div {
  position: relative;
}
.sign-up-card div:first-child {
  margin-top: 1rem;
}
.sign-up-card div input {
  border: none;
  border-bottom: solid 1.5px white;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  color: white;
}
.sign-up-card div input:focus {
  outline: none;
  border-bottom: 1.5px solid var(--mygreen);
}
.sign-up-card div label {
  position: absolute;
  left: 0px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: all ease-in-out 300ms;
}
.sign-up-card div input:focus ~ label,
.sign-up-card div input:valid ~ label {
  transform: translateY(-20%) scale(0.8);
  padding: 0 0.2em;
  color: var(--mygreen);
}
.sign-up-card p {
  text-align: center;
  margin-top: 1rem;
  font-size: small;
  width: 160px;
  font-weight: 300;
}
.sign-up-card p span {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 400;
  color: var(--mygreen);
  transition: all ease-in-out 250ms;
}
.sign-up-card p span:hover {
  filter: brightness(5);
}
.sign-up-card button {
  margin-top: 2rem;
  padding: 1em 2em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.sign-up-card button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.sign-up-card button:active {
  transform: translateY(-1px);
}
.profile-card {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 4.5rem;
  right: 5rem;
  height: 400px;
  width: 250px;
  z-index: 99;
  padding: 1em 2em;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  background-color: var(--mygreen);
  border: none;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.profile-card-active {
  display: flex;
}
.image-wrapper {
  border: 7px solid white;
  border-radius: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 200px;
}
.profile-card p {
  text-align: center;
  margin-top: 20px;
}
.profile-card button {
  margin-top: 2rem;
  padding: 1em 2em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.profile-card button:hover {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}
.profile-card button:active {
  transform: translateY(-1px);
}
